extends ../layouts/main.pug

block content
    h1#my-unique-id Welcome to LAB01

    h2 available routes are
    p / : home page (you are on homepage atm)
    p /about : about page, you can find out about the creator of this app here.
    p /contact : contact page, you can contact the creator of this app here.

    p.intro-text(data-attr="my value") Sitting at timmies doing the lab
